:root{
  --theme-bg: #08415c;
  --theme-primary: #fffcf9;
  --theme-secondary: #d5cfe1;
  --theme-success: #06d6a0;
  --theme-warning: #ef476f;
}

body{
  max-width: 2000px;
}

.project-hero{
  background-color: var(--theme-bg);
  background-image: url('assets/project-hero.png');
  background-size: 100%;
  height: 300px;
  padding: 0;
  transition: 1s;
  border-right: 2px solid black;
}
.project-hero:hover{
  background-image: url('assets/project-hero-h.png');
  background-size: 110%;
  transition: 1s;
}
.project-hero h2{
  opacity: 1;
  padding-left: 10px;
  border-left: 10px solid var(--theme-success);
}

.draw-hero{
  background-color: var(--theme-bg);
  background-image: url('assets/draw-hero.png');
  background-size: 100%;
  height: 300px;
  padding: 0;
  transition: 1s;
  border-right: 2px solid black;
}
.draw-hero:hover{
  background-image: url('assets/draw-hero-h.png');
  background-size: 110%;
  transition: 1s;
}
.draw-hero h2{
  opacity: 1;
  padding-left: 10px;
  border-left: 10px solid var(--theme-success);
}

.hero-div{
  box-shadow: 5px 2px 20px 0px #000000;
}

.hero-header{
  background-color: #0000006b;
  margin: 0;
}


.theme-bg{
  background-color: var(--theme-bg);
}
.theme-success{
  background-color: var(--theme-success);
}
.theme-warning{
  background-color: var(--theme-warning);
}

.theme-primary-txt{
  color: var(--theme-primary);
}
.theme-secondary-txt{
  color: var(--theme-secondary);
}
.theme-success-txt{
  color: var(--theme-success);
}
.theme-warning-txt{
  color: var(--theme-warning);
}
.theme-bg-txt{
  color: var(--theme-bg);
}

.theme-btn-primary{
  font-family: 'Varela Round', sans-serif;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: var(--theme-bg);
  color: var(--theme-primary);
  border: none;
}

.theme-btn-primary:hover{
  color: var(--theme-success);
}

.theme-btn-secondary{
  font-family: 'Varela Round', sans-serif;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: var(--theme-bg);
  color: var(--theme-primary);
  border: none;
}

.font-main{
  font-family: 'Alata', sans-serif;
}
.font-secondary{
  font-family: 'Varela Round', sans-serif;
}

@media only screen and (max-width: 600px) {
  .draw-hero{
    background-size: cover;
  }
  .project-hero{
    background-size: cover;
  }
}